 <div class="card" style="width: 18rem;">
    <p class="h3 p-3">Comida: {{comidaDetail.nombre}}</p>
    <img src="../../assets/comidaimagenes/comidaDetail-{{comidaDetail.id}}.jpg"   class="card-img-top">
    
     <!-- ../../assets/comidaimagenes/comidaDetail-{{comidaDetail.id}}.jpg"  
    {{ assets (' comidaimagenes/comidaDetail-{{comidaDetail.id}}.jpg')}}-->
    <div class="card-body">
      <p class="card-text">{{comidaDetail.menu}}</p>
    </div>
  </div> 

  <!-- <div class="col-md-12">
        <div class="container-fluid">   
            <p class="h3 p-3">Comida: {{comidaDetail.nombre}}</p>
            <p class="p-3">{{comidaDetail.menu}}</p>
        </div>
    </div> -->
    