<div class="col-md-12">
    <div class="container-fluid">   
        <p class="h3 p-3">Información Domicilio: {{domicilioDetail.id}}</p>
       <div> <p class="h3 p-3">Pago - id: {{domicilioDetail.pago.id}}</p></div>
        <p class="p-3">Monto: {{domicilioDetail.pago.monto}}</p>
        <p class="p-3">¿Es prepago?: {{domicilioDetail.pago.esPrepago}}</p>
        <p class="p-3">Estado del pago: {{domicilioDetail.pago.estadoPago}}</p>
        <p class="h3 p-3">QuejasYReclamos - id: {{domicilioDetail.id}}</p>
        <p class="p-3">Asunto: {{domicilioDetail.lugarEntrega}}</p>
        <p class="p-3">Descripción: {{domicilioDetail.lugarEntrega}}</p>
        <p class="p-3">Fecha: {{domicilioDetail.fecha}}</p>
    </div>
</div>