
<div class="container-fluid">

<br>
  <div class='row'>

  <div class='col'>
          <div class="card" style="width: 18rem;" *ngFor = "let a of administradores">
          <img src="https://svgsilh.com/svg/2098873.svg" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title" >{{a.nombre}}</h5>
             <p class="card-text">Id: {{a.id}}</p>
            <p class="card-text">Username: {{a.username}}</p>
            <a class="btn btn-success" (click)="onSelected(a.id)" type="button">Ver detalle</a>
          </div>
        </div>
      </div>

    <div class='col'>
      <div *ngIf="selectedAdministrador">
          <app-administrador-detail></app-administrador-detail>

  </div>
      

    </div>  
</div>

</div>
