<div class="row">
  
    <div class="col-3"></div>
      <div class="col-6">
          <br>
        <h2 class="text-center">Registrar Cliente</h2>
        <br>
        <form name="cliente" (ngSubmit)="f.form.valid && createCliente()" #f="ngForm" novalidate>
            
            <div class="form-group">
                  <label for="clienteNombre"><b>Nombre</b></label>
                  <input type="text" name="clienteNombre" class="form-control" id="clienteNombre" [(ngModel)]="cliente.nombre"
                  #clienteNombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && clienteNombre.invalid }" required>
                  <div class="invalid-feedback">
                      <div>Name is missing</div>
                 </div>
              </div> 
              
              
              <div class="form-group">
                  <label for="clienteUsername"><b>Username</b></label>
                  <input type="text" name="clienteUsername" class="form-control" id="clienteUsername" [(ngModel)]="cliente.username"
                  #clienteUsername="ngModel" [ngClass]="{ 'is-invalid': f.submitted && clienteUsername.invalid }" required>
                  <div class="invalid-feedback">
                      <div>Username is missing</div>
                 </div>
              </div>
              
              <div class="form-group">
                  <label for="clienteContrasenia"><b>Contraseña</b></label>
                  <input type="password" name="clienteContrasenia" class="form-control" id="clienteContrasenia" [(ngModel)]="cliente.contrasenia"
                  #clienteContrasenia="ngModel" [ngClass]="{ 'is-invalid': f.submitted && clienteContrasenia.invalid }" required>
                  <div class="invalid-feedback">
                      <div>Password is missing</div>
                 </div>
              </div>  
  
              <div class="form-group">
                  <label for="clienteObjetivos"><b>Objetivos</b></label>
                  <input type="text" name="clienteObjetivos" class="form-control" id="clienteObjetivos" [(ngModel)]="cliente.objetivos"
                  #clienteObjetivos="ngModel" [ngClass]="{ 'is-invalid': f.submitted && clientaObjetivos.invalid }" required>
                  <div class="invalid-feedback">
                      <div>Objetives are missing</div>
                 </div>
              </div> 

              <div class="form-group">
                  <label for="clienteEdad"><b>Edad</b></label>
                  <input type="number" name="clienteEdad" class="form-control" id="clienteEdad" [(ngModel)]="cliente.edad"
                  #clienteEdad="ngModel" [ngClass]="{ 'is-invalid': f.submitted && clientaEdad.invalid }" required>
                  <div class="invalid-feedback">
                      <div>Age is missing</div>
                 </div>
              </div> 

              <div class="form-group">
                  <label for="clienteGluten"><b>¿Intolerancia al Gluten? (true/false)</b></label>
                  <input type="text" name="clienteGluten" class="form-control" id="clienteGluten" [(ngModel)]="cliente.gluten"
                  #clienteGluten="ngModel" [ngClass]="{ 'is-invalid': f.submitted && clienteGluten.invalid }" required>
                  <div class="invalid-feedback">
                      <div> Gluten is missing</div>
                 </div>
              </div>

              <div class="form-group">
                  <label for="clienteLactosa"><b>¿Intolerancia a la Lactosa? (true/false)</b></label>
                  <input type="text" name="clienteLactosa" class="form-control" id="clienteLactosa" [(ngModel)]="cliente.lactosa"
                  #clienteLactosa="ngModel" [ngClass]="{ 'is-invalid': f.submitted && clienteLactosa.invalid }" required>
                  <div class="invalid-feedback">
                      <div>The dietas's Contiene Lactosa is missing</div>
                 </div>
              </div>
  

              <div class="row form-inline justify-content-center align-self-center">
                  <button type="submit" class="btn btn-primary">Registrar</button>
                  <div class="divider"></div>
                  <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
              </div>
              
  
            </form>
      </div>
 
    <div class="col-3"></div>
  
 