 <form [formGroup]="clienteForm" (ngSubmit)="createCliente(clienteForm.value)" >
 
  <div class='col'>
    <h2>Registro Usuario</h2>
 <div class="form-group mx-sm-3 mb-2">
    
    
    <label for="nombre">
      Nombre
    </label>
    <input novalidate
      id="nombre"
      class="form-control"
      formControlName="nombre"
      placeholder="Nombre completo">
   </div>

    <div class="alert alert-danger alert-dismissible fade show"
        *ngIf="clienteForm.get('nombre').hasError('required') && 
      clienteForm.get('nombre').touched">
      Nombre required
</div>


   <div class="form-group  mx-sm-3 mb-2">
    <label for="usuario">
      Usuario
    </label>
   <input id="username" type="text"
     class="form-control"
     formControlName="username"
     placeholder="Tu Usuario">
  </div>

   <div class="form-group  mx-sm-3 mb-2">
    <label for="contrasena">
      Contraseña
    </label>
   <input id="contrasena" type="password"
     class="form-control"
     formControlName="contrasena"
     placeholder="Tu contrasenia">
  </div>

   <div class="form-group  mx-sm-3 mb-2">
    <label for="objetivos">
      Objetivos
    </label>
   <input id="objetivos" type="text"
     class="form-control"
     formControlName="objetivos"
     placeholder="Tus objetivos">
  </div>

   <div class="form-group  mx-sm-3 mb-2">
    <label for="edad">
      Edad
    </label>
   <input id="edad" type="number"
     class="form-control"
     formControlName="edad"
     placeholder="Tu edad">
  </div>

  <div class="form-group  mx-sm-3 mb-2">
      <label for="lactosa">
        ¿Intolerante a la lactosa? (True/False)
      </label>
     <input id="edad" type="text"
       class="form-control"
       formControlName="lactosa"
       placeholder="Intolerancias">
    </div>

    <div class="form-group  mx-sm-3 mb-2">
        <label for="gluten">
          ¿Intolerante al gluten? (True/False)
        </label>
       <input id="gluten" type="text"
         class="form-control"
         formControlName="gluten"
         placeholder="Intolerancias">
      </div>

  </div>
  <button type="button" class="btn btn-success" (click) = "createCliente">Registrar</button>
</form>