<div class="container-fluid">

    <br>
    <h4>Clientes</h4>
  <div class='row'>

  <div class='col'  *ngFor = "let c of clientes">
  <div class="card" style="width: 18rem;">
        
          <div class="card-body">
          <h5 class="card-title" >{{c.nombre}}</h5>
             <p class="card-text">Id: {{c.id}}</p>
            <p class="card-text">Username: {{c.userName}}</p>
          
            <a class="btn btn-outline-info" (click)="onSelected(c.id)" type="button">Info</a>
          </div>
        </div>
      </div>
  </div>
  <br>

  <div class = "row">

     <div class='col'>
        <div *ngIf="selectedCliente">
            <app-cliente-detail [clienteDetail]="selectedCliente"></app-cliente-detail>
  
    </div>
</div>

</div>
</div>
