<div class="container-fluid">
	<div class="row">
		<div class="col">
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>nombre</th>
						<th>momento del dia</th>
						<th>calorias</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let c of comidas">
							<td> {{c.id}}</td>
						<td style="cursor: pointer;">
								
							<a class="figure-caption" routerLink="/comidas/{{c.id}}"> {{c.nombre}} </a> </td>
						<td> {{c.momentoDelDia}}</td>
						<td> {{c.calorias}}</td>


					</tr>
				</tbody>
			</table>

			<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
		</div>
		<div class="col">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>


<!-- [routerLink] ="'/comidas', { outlets : 'detail': [c.id] } }" -->