<div class="container-fluid">

<br>
<h4>Quejas y Reclamos</h4>
  
<div class='row'>

  <div class='col'>
          <br>
          <div class="card" style="width: 18rem;" >
          <div class="card-body">
          <h5 class="card-title" >{{quejaReclamo.asunto}}</h5>
             <p class="card-text">Cliente: {{quejaReclamo.cliente.nombre}}</p>
            <p class="card-text">Fecha: {{quejaReclamo.fecha}}</p>
            <p class="card-text">Id Domicilio: {{quejaReclamo.domicilio.id}}</p>
            <p class="card-text">Descripcion: {{quejaReclamo.descripcion}}</p>
          </div>
        </div>
  </div>

</div>
  

</div>