<div class="row">
    
  
	<div class="col-3"></div>
	  <div class="col-6">
		  <br>
		  <h2 class="text-center">Crear un domicilio</h2>
		  <br>
		  <form name="domicilio" (ngSubmit)="f.form.valid && createDomicilio()" #f="ngForm" novalidate>
			  
			
			<div class="form-group">
				  <label for="domicilioLugarEntrega"><b>Lugar de entrega</b></label>
				  <input type="text" name="domicilioLugarEntrega" class="form-control" id="domicilioLugarEntrega" [(ngModel)]="domicilio.lugarEntrega"
				  #domicilioLugarEntrega="ngModel" [ngClass]="{ 'is-invalid': f.submitted && domicilioLugarEntrega.invalid }" required>
				  <div class="invalid-feedback">
					  <div>El lugar de entrega no puede ser invalido</div>
				 </div>
			  </div> 
			  
			  
			  <div class="form-group">
				  <label for="domicilioCosto"><b>Costo</b></label>
				  <input type="text" name="domicilioCosto" class="form-control" id="domicilioCosto" [(ngModel)]="domicilio.costo"
				  #domicilioCosto="ngModel" [ngClass]="{ 'is-invalid': f.submitted && domicilioCosto.invalid }" required>
				  <div class="invalid-feedback">
					  <div>El costo no puede ser invalido</div>
				 </div>
			  </div>
			  
			  <div class="form-group">
				  <label for="domicilioFecha"><b>Fecha</b></label>
				  <input type="text" name="domicilioFecha" class="form-control" id="domicilioFecha" [(ngModel)]="domicilio.fecha"
				  #domicilioFecha="ngModel" [ngClass]="{ 'is-invalid': f.submitted && domicilioFecha.invalid }" required>
				  <div class="invalid-feedback">
					  <div>La fecha no puede ser invalida</div>
				 </div>
			  </div>  
  
  
			  <div class="row form-inline justify-content-center align-self-center">
				  <button type="submit" class="btn btn-primary">Crear</button>
				  
			  </div>
  
			</form>
	  </div>
	  <div class="col-3"></div>
  