<div class="container-fluid">
	<div class="row">
		<div class="col">
      <p> Pagos de la tarjeta prepago con id: {{tarjetaDetail.id}} </p>
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Pago id</th>
            <th>Monto</th>
            <th>EsPrepago</th>
            <th>EstadoPago</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let t of tarjetaDetail.pagos">
						<td >
							<div *ngIf = "t?.id!=null">{{t.id}}</div>	
						</td>
            <td >
							<div *ngIf = "t?.monto!=null">{{t.monto}}</div>
						</td>
            <td >
							<div *ngIf = "t?.esPrepago!=null">{{t.esPrepago}}</div>
						</td>       
            <td >
							<div *ngIf = "t?.estadoPago!=null">{{t.estadoPago}}</div>
						</td>    
					</tr>
				</tbody>
			</table>
		</div>
	</div>