<div class = "col">
  <div class = "card">
     <h5 class = "car-title">{{calificacion.dieta.nombre}}  (cal.max = {{calificacion.dieta.caloriasMax}}, cal.min = {{calificacion.dieta.caloriasMin}}</h5>
  </div>
  <div class = "card-body">
    Calificacion realizada el dia {{calificacion.fecha}} por el cliente con id: {{calificacion.cliente.id}}, cuyo nombre es {{calificacion.cliente.nombre}}
  </div>
  <div class = "card-body">
    Puntaje: {{calificacion.puntaje}}
  </div>
  <div class = "card-body">
    Comentario: {{calificacion.comentario}}
  </div>
</div>