<div class="container-fluid">
	<div class="row">
		<div class="col">
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Domicilio id</th>
            <th>fecha</th>
            <th>Lugar de entrega</th>
            <th>Costo</th>
            <th>cliente</th>
            <th>comida</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let i of domicilios">
						<td style="cursor: pointer;">
							<a class="figure-caption" (click)="onSelected(i.id)" >{{i.id}}</a>
						</td>
            <td style="cursor: pointer;">
							<a class="figure-caption" (click)="onSelected(i.id)" >{{i.fecha}}</a>
						</td>
            <td style="cursor: pointer;">
							<a class="figure-caption" (click)="onSelected(i.id)" >{{i.lugarEntrega}}</a>
						</td>
            <td style="cursor: pointer;">
							<a class="figure-caption" (click)="onSelected(i.id)" >{{i.costo}}</a>
						</td>
					
						
						<td style="cursor: pointer;">
							<a class="figure-caption" (click)="onSelected(i.id)" >{{i.cliente}}</a>
						</td>						
					
            			<td style="cursor: pointer;">
							<a class="figure-caption" (click)="onSelected(i.id)" >{{i.comidaTipo}}</a>
						</td>
					
            

					</tr>
				</tbody>
			</table>
		</div>
		<div class='col'>
			<div *ngIf="selectedDomicilio">
				<app-domicilio-detail [domicilioDetail]="selectedDomicilio"></app-domicilio-detail>
	  
		</div>
	</div>
	</div>
</div>