
<div class="row">
    
  
  <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Realizar pago
        </h2>
        <br>
        <form name="pago" (ngSubmit)="createPago()" #f="ngForm" novalidate>
          
                <div class="form-group">
                        <label for="pagoMonto"><b>Monto</b></label>
                        <input type="number" name="pagoMonto" class="form-control" id="pagoMonto" [(ngModel)]="pago.monto"
                        #pagoMonto="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pagoMonto.invalid }" required>
                        <div class="invalid-feedback">
                            <div>Ingrese el monto</div>
                       </div>
                    </div>

                    <div class="form-group">
                            <label for="pagoPrepago"><b>¿Es prepago?</b></label>
                            <input type="text" name="pagoPrepago" class="form-control" id="pagoPrepago" [(ngModel)]="pago.esprepago"
                            #pagoPrepago="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pagoPrepago.invalid }" required>
                            <div class="invalid-feedback">
                                <div>Ingrese si es prepago</div>
                           </div>
                        </div>
                        <div class="form-group">
                                <label for="pagoEstado"><b>Estado</b></label>
                                <input type="text" name="pagoEstado" class="form-control" id="pagoEstado" [(ngModel)]="pago.estadoPago"
                                #pagoEstado="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pagoEstado.invalid }" required>
                                <div class="invalid-feedback">
                                    <div>Ingrese estado</div>
                               </div>
                            </div> 
                            <div class="form-group">
                                    <label for="pagoNum"><b>Numero Confirmacion</b></label>
                                    <input type="number" name="pagoNum" class="form-control" id="pagoNum" [(ngModel)]="pago.numerotarjeta"
                                    #pagoNum="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pagoNum.invalid }" required>
                                    <div class="invalid-feedback">
                                        <div>Ingrese estado</div>
                                   </div>
                                </div> 
                            
                            

               
    
             <div class="row form-inline justify-content-center align-self-center">
                  <button type="submit" class="btn btn-primary">Registrar</button>
                  <div class="divider"></div>
              </div>   

        </form>
      
    </div>
</div>

